* {
    border: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px DONE!
*/

@media (min-width: 320px) and (max-width: 480px) {
    html {
        overflow: hidden;
        height: 100%;
    }
    .gamer,.background {
        display: none;
    }
    .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        font-family: Rubik;
        font-style: light;
        font-weight: 300;
        font-size: 24px;
        width: 350px;
        line-height: 28px;

        color: #000000;
    }
    #text {
        margin-top: 180px;
        margin-left: 20px;
    }
    .rectangle {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 220px;
        height: 300px;
        position: fixed;
        bottom: -100px;
        right: -100px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 11px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 182px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 299px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 0;
        left: 30px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 0;
        left: 60px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
  }
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    html {
        overflow: hidden;
        height: 100%;
    }
    .gamer,.background {
        display: none;
    }
    .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 74px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        font-family: Rubik;
        font-style: light;
        font-weight: 300;
        font-size: 24px;
        width: 350px;
        line-height: 28px;

        color: #000000;
    }
    #text {
        margin-top: 250px;
        margin-left: 20px;
    }
    .rectangle {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 300px;
        height: 600px;
        position: fixed;
        bottom: -100px;
        right: -100px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 11px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 500px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 400px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 0;
        left: 30px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 0;
        left: 60px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
    
  }

  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    html {
        overflow: hidden;
        height: 100%;
    }
    .gamer,.background {
        display: none;
    }
    .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 74px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        font-family: Rubik;
        font-style: light;
        font-weight: 300;
        font-size: 24px;
        width: 350px;

        color: #000000;
    }
    #text {
        margin-top: 250px;
        margin-left: 20px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 11px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .rectangle {
        display: none;
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 500px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 400px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 0;
        left: 30px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 0;
        left: 60px;
        position: absolute;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
    
  }
  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    html {
        overflow: hidden;
        height: 100%;
    }
    .gamer,.background {
        display: none;
    }
    .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        font-family: Rubik;
        font-style: light;
        font-weight: 300;
        font-size: 40px;
        width: 700px;
        margin-top: 30px;

        color: #000000;
    }
    #text {
        margin-top: 250px;
        margin-left: 20px;
    }
    .rectangle {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 300px;
        height: 600px;
        position: fixed;
        bottom: -100px;
        right: -100px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 11px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 500px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 400px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 0;
        left: 0;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 0;
        left: 30px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 0;
        left: 60px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
  }

  /* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    html {
        overflow: hidden;
        height: 100%;
    }
    .background {
        display: none;
    }
    .title {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        line-height: 50px;
        color: #000000;
        margin-bottom: 10px;
    }
    .subtitle {
        font-family: Rubik;
        font-style: light;
        font-weight: 300;
        font-size: 24px;
        width: 450px;
        margin-top: 20px;
        line-height: 28px;

        color: #000000;
    }
    .gamer {
        float: right;
        width: 30%;
        margin-top: 150px;
        z-index: 99999;
        margin-right: 10%;
    }
    #text {
        margin-top: 250px;
        margin-left: 50px;
        width: 50%;
        float: left;
    }
    .rectangle {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 350px;
        height: 700px;
        position: fixed;
        bottom: -100px;
        right: -100px;
    }
    .rectangle1 {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 350px;
        height: 200px;
        position: fixed;
        bottom: -100px;
        left: -100px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 50px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 700px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 820px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 5px;
        left: 630px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 5px;
        left: 674px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 5px;
        left: 586px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
  }

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    html {
        overflow: hidden;
        height: 100%;
    }
    .background {
        display: none;
    }
    .title {
        position: absolute;
        width: 661px;
        height: 168px;
        left: 100px;
        top: 317px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        line-height: 171px;
        
        color: #000000;
        
    }
    .subtitle {
        position: absolute;
        width: 661px;
        height: 168px;
        left: 100px;
        top: 485px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 43px;
        
        color: #000000;
    }
    .gamer {
        float: right;
        width: 30%;
        margin-top: 150px;
        z-index: 99999;
        margin-right: 10%;
    }
    #text {
        margin-top: 250px;
        margin-left: 50px;
        width: 50%;
        float: left;
    }
    .rectangle {
        position: absolute;
        width: 592.77px;
        height: 1094.61px;
        right: -100.66px;
        top: 141px;
        z-index:  -9999;
        
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.92, 0.45, -0.38, 0.9, 0, 0);
    }
    .rectangle1 {
        z-index:  -999;
        background: linear-gradient(180deg, #2ECC71 5.04%, rgba(39, 174, 96, 0.9) 105.04%);
        border-radius: 34px;
        transform: matrix(0.91, 0.36, -0.44, 0.92, 0, 0);
        width: 350px;
        height: 200px;
        position: fixed;
        bottom: -100px;
        left: -100px;
    }
    .menu1 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 72px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 24px;
        display: flex;
        align-items: center;
        
        
    }
    .menu2 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 825px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .menu3 {
        position: absolute;
        width: auto;
        height: 42px;
        left: 971px;
        top: 7px;
        border-bottom: 1px solid #2ECC71;
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: center;
        text-align: center;

    }
    #menu {
        top: 0;
        position: fixed;
    }
    .github {
        bottom: 5px;
        left: 1001px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .instagram {
        bottom: 5px;
        left: 947px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .twitter {
        bottom: 5px;
        left: 893px;
        position: fixed;
        width: 25px;
        height: 25px;
        opacity: 0.5;
        padding: 5px;
    }
    .github:hover {opacity:0.8}
    .twitter:hover {opacity:0.8}
    .instagram:hover {opacity:0.8}
    
  }