* {
    margin: 0;
    padding: 0;
}
html {
    font-family: Roboto;
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    background-repeat: ;
    background-position: fixed;
    height: auto;
}
.text {
    width: 1000px;
    margin-left: 20%;
    margin-top: 20%;
    margin-right: 20%;
}
h1 {
    font-size: 4.5em;
}
.text p {
    font-size: 2em;
    margin: 0;
    padding: 0;
}
#grid-group {
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
    width:  1000px;
    display: block;
    margin-bottom: 2000px;
}
#grid {
    width: 100%;
}
.grid-1-left {
    width: 68%;
    float: left;
    padding: 0;
    transition: all .2s ease-in-out;
    margin-top: 2%;
}
.grid-2-right {
    width: 28%;
    float: right;
    transition: all .2s ease-in-out;
    margin-top: 2%;
}
.grid-1-right {
    width: 68%;
    float: right;
    transition: all .2s ease-in-out;
    margin-top: 2%;
}
.grid-2-left {
    width: 28%;
    float: left;
    transition: all .2s ease-in-out;
    margin-top: 2%;
}
.grid-2-right:hover {
    transform: scale(1.02);
}
.grid-2-left:hover {
    transform: scale(1.02);
}
.grid-1-right:hover {
    transform: scale(1.02);
}
.grid-1-left:hover {
    transform: scale(1.02);
}
.footer {
    opacity: 0.9;
    padding:  10px;
    background-color:#9b59b6;
    padding-left:  20%;
    overflow: auto;
    padding-right: 20%;
}
.footer-1  {
float:  left;
}
.footer-2 {
float: right;
}
.footer-3 {
    width:100%;
}
li {
    display: inline;
}


@media only screen and (max-width: 600px) {
    .grid-1-left {
        width: 100%;
        float: left;
        padding: 0;
        transition: all .2s ease-in-out;
        margin-top: 5%;
    }
    .grid-2-right {
        width: 100%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 5%;
    }
    .grid-1-right {
        width: 100%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 5%;
    }
    .grid-2-left {
        width: 100%;
        float: left;
        transition: all .2s ease-in-out;
        margin-top: 5%;
    }
    .text {
        margin-top: 70%;
        margin-bottom: 100%;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 2em;
    }
    .text p {
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    #grid-group {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;
        width:  auto;
        margin-bottom: auto;
    }
    img {
        width:  100%;
        height: auto;
    }
    .footer-1  {
        width:  100%;
        text-align: center;
        }
        .footer-2 {
            width:  100%;
            text-align: center;
        }
  }
  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait)  {
    #grid-group {
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
        width:  auto;
        margin-bottom: 1000px;
    }
    #grid {
        width: 100%;
    }
    .grid-1-left {
        width: 68%;
        float: left;
        padding: 0;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right {
        width: 29.5%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-1-right {
        width: 68%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-left {
        width: 29.5%;
        float: left;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right:hover {
        transform: scale(1.02);
    }
    .grid-2-left:hover {
        transform: scale(1.02);
    }
    .grid-1-right:hover {
        transform: scale(1.02);
    }
    .grid-1-left:hover {
        transform: scale(1.02);
    }
    .text {
        margin-top: 50%;
        margin-bottom: 70%;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 4em;
    }
    .text p {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
    img {
        width:  100%;
        height: auto;
    }
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    #grid-group {
        margin-top: 30%;
        margin-left: 5%;
        margin-right: 5%;
        width:  auto;
        margin-bottom: 1000px;
    }
    #grid {
        width: 100%;
    }
    .grid-1-left {
        width: 68%;
        float: left;
        padding: 0;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right {
        width: 29.5%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-1-right {
        width: 68%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-left {
        width: 29.5%;
        float: left;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right:hover {
        transform: scale(1.02);
    }
    .grid-2-left:hover {
        transform: scale(1.02);
    }
    .grid-1-right:hover {
        transform: scale(1.02);
    }
    .grid-1-left:hover {
        transform: scale(1.02);
    }
    .text {
        margin-top: 30%;
        margin-bottom: 30%;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 4em;
    }
    .text p {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
    img {
        width:  100%;
        height: auto;
    }
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    #grid-group {
        margin-top: 30%;
        margin-left: 20%;
        margin-right: 20%;
        width:  auto;
        margin-bottom: 1000px;
    }
    #grid {
        width: 100%;
    }
    .grid-1-left {
        width: 68%;
        float: left;
        padding: 0;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right {
        width: 29.5%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-1-right {
        width: 68%;
        float: right;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-left {
        width: 29.5%;
        float: left;
        transition: all .2s ease-in-out;
        margin-top: 2%;
    }
    .grid-2-right:hover {
        transform: scale(1.02);
    }
    .grid-2-left:hover {
        transform: scale(1.02);
    }
    .grid-1-right:hover {
        transform: scale(1.02);
    }
    .grid-1-left:hover {
        transform: scale(1.02);
    }
    .text {
        margin-top: 20%;
        margin-bottom: 30%;
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
    h1 {
        font-size: 4em;
    }
    .text p {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }
    img {
        width:  100%;
        height: auto;
    }
}
    
  
  a {
    color: white;
    text-decoration: none;
  }

  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 3;
    -webkit-column-gap:   0px;
    -moz-column-count:    3;
    -moz-column-gap:      0px;
    column-count:         3;
    column-gap:           20px; 
    margin-top: 30%;
    margin-left: 20%;
    margin-bottom: 10%; 
    margin-right: 20%;
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin: 10px;
    transition: all .2s ease-in-out;
  }
  #photos img:hover {
    /* Just in case there are inline attributes */
    transform: scale(1.02);
  }

  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }